

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Student Registration Form</title>

</head>
<style>
body {background-image:url('https://images.pexels.com/photos/1172840/pexels-photo-1172840.jpeg?auto=compress&cs=tinysrgb&w=600');
      background-repeat:no repeat;
      background-size: cover;
      }


</style>

<body>
<form action="/FORM" method="post">
<h3>EVENT REGISTRATION FORM</h3>



<table align="center" cellpadding = "10">

<!----- First Name ---------------------------------------------------------->
<tr>
<td>FIRST NAME</td>
<td><input type="text" name="First_Name" maxlength="30"/>
</td>
</tr>

<!----- Last Name ---------------------------------------------------------->
<tr>
<td>LAST NAME</td>
<td><input type="text" name="Last_Name" maxlength="30"/>

</td>
</tr>

<!-----------DEPARTMEMT------------------------->
<tr>
<td>DEPARTMENT</td>
<td><input type="text" name="DEPARTMENT" maxlength="30"/>

</td>
</tr>

<!----- EVENT-------------------------------------------------------->

<!----- Date Of Birth -------------------------------------------------------->
<tr>
<td>INTRESTED EVENT</td>

<td>
<select name="EVENT" id="EVENT">
<option value="-1">EVENTS:</option>
<option value="DANCE">DANCE</option>
<option value="SINGING">SINGING</option>
<option value="4">MET_GOT_TALENT</option>
<option value="5">SPORTS</option>
<option value="6">DRAMA</option>
<option value="7">FASHION SHOW</option>



</td>
</tr>
<!----- Email Id ---------------------------------------------------------->
<tr>
<td>Email_Id</td>
<td><input type="text" name="Email_Id" maxlength="30"/>

</td>
</tr>

<!----- Mobile Number ---------------------------------------------------------->
<tr>
<td>MOBILE NUMBER</td>
<td>
<input type="text" name="tele" maxlength="10" />
</td>
</tr>



<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
  <button> SUBMIT</button>
</td>
</tr>
</table>

</form>

</body>
</html>
