
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MET</title>

</head>
<style>
body {background-image:url('https://images.pexels.com/photos/1172840/pexels-photo-1172840.jpeg?auto=compress&cs=tinysrgb&w=600');
      background-repeat:no repeat;
      background-size: cover;
      }


</style>

<body action="/FORM">

      <left><a href="/datalist"><button> <h4>Admin</h4></button></a></left>
       <center>
      </br>
        <h1 style="color: white;background-color: red"
        <h1> MET  Bhujbal Knowledge City</h1>
        <h5>Department of engineering</h5>
        <h2><b><i>MET UTSAV 2023</i></b></h2>
        <p><b>An eagerly awaited Mega annual cultural and sports fest
            of the mumbai educational trust(MET)</b></p>
            <h4>Don't miss this opportunity to explore and show your hidden talent</h4>
           <h2><b> REGISTER NOW!!!</b></h2></br>
        <a href="/FORM"><button>Click here</button></a> </br></center>

    </body>
</html>


